*{
  margin:0px; padding: 0px; box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
header{
  width:90vw;
 /* border: 2px solid red;*/
  margin: auto;
  /*position: absolute;
  top:5%;
  left: 5%;*/
  padding: 10px;
  animation: zom .8s linear 1 alternate;
}
@keyframes zom{
  0%{
    transform: scale(0);
  }
100%{
  transform: scale(1);
}
}
header .data{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header .data .tit{
  font-size: 15vw;
  text-shadow: 2px 3px 5px black;
  color: #fff;
}
header .data form input{
 border-radius: 10px;
 padding: 5px 2px;
 text-transform: uppercase;
 
}
header .bn #btn,header #ret,header #sum{
  margin:10px 5px;
  font-size: 4vw;
  background: rgba(0,220,220,0.9);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}
header table,#num{
  display: none;
}
header .result{
  text-align: center;
  font-size: 4vw;
  text-shadow: 2px 2px 4px black;
  color: rgba(0,220,220,0.8);
}
#name, #dob, #demo, #tot{
  font-size: 12vw;
  color:rgba(255,0,200,0.7);
}
@media(min-width:760px){
header .bn #btn, header #ret, header #sum{
  font-size: 2vw;
}
header .result{
  font-size: 4vw;
}
}
